<html>
<head>
	<link rel="stylesheet" media="screen" type="text/css" href="{{ STATIC_URL }}estilo.css" />
	<link rel="stylesheet" media="screen" type="text/css" href="{{ STATIC_URL }}bootstrap.min.css" />
	<link rel="stylesheet" media="screen" type="text/css" href="{{ STATIC_URL }}offcanvas.css" />
	{% block cabecalho %}
		<title>Carros</title>
	{% endblock %}
</head>
<body>
	<header>
		<h1>Venda de carros</h1>
		<nav>
			<ul>
				<li><a href="{% url 'lista_carro' %}">Home</a></li>
				<li><a href="#">Contato</a></li>
				<li><a href="#">Sobre</a></li>
				<li><a href="#">Cadastro</a></li>
					<ul>
						<li><a href="{% url 'adiciona_marca' %}">Marca</a></li>
						<li><a href="{% url 'adiciona_modelo' %}">Modelo</a></li>
						<li><a href="{% url 'adiciona_carro' %}">Carro</a></li>
					</ul>
			</ul>
		</nav>
	</header>
	{% block corpo %}
		
	{% endblock %}
</body>
</html>