{% extends 'base.html' %}

<h1>Carros</h1>

{% block content %}

<p><a href="/adiciona/">Adicionar novo item</a></p>
	<table>
		<tr>
			<td>id</td>
			<td>Marca</td>
			<td>Modelo</td>
			<td>Veículo</td>
			<td>Preço</td>
		</tr>
	</table>
{% for item in carros %}
	<table>
		<tr>
			<td><a href="/item/{{ item.id }}">{{ item.id }}</a></td>
			<td>{{ item.marca }}</td>
			<td>{{ item.modelo }}</td>
			<td>{{ item.veiculo }}</td>
			<td>{{ item.preco }}</td>
		</tr>
	</table>
{% empty %}
	<li>Sem itens na lista</li>
{% endfor %}

<!-- <p><a href="/adiciona/">Adicionar novo item</a></p>
<ul>
{% for item in carros %}
	<li><a href="/item/{{ item.id }}">{{ item.marca }} - {{ item.modelo }}</a></li>
{% empty %}
	<li>Sem itens na lista</li>
{% endfor %}
</ul>
 -->
{% endblock %}