{% extends 'base.html' %}

<h1>Marcas</h1>

{% block content %}

<p><a href="/adicionamarca/">Adicionar novo item</a></p>
	<table>
		<tr>
			<td>id</td>
			<td>Marca</td>
		</tr>
	</table>
{% for item in marcas %}
	<table>
		<tr>
			<td>{{ item.id }}</td>
			<td>{{ item.marca }}</td>
		</tr>
	</table>
{% empty %}
	<li>Sem itens na lista</li>
{% endfor %}

<!-- <p><a href="/adiciona/">Adicionar novo item</a></p>
<ul>
{% for item in carros %}
	<li><a href="/item/{{ item.id }}">{{ item.marca }} - {{ item.modelo }}</a></li>
{% empty %}
	<li>Sem itens na lista</li>
{% endfor %}
</ul>
 -->
{% endblock %}